<header class="header" [ngClass]="'header--' + theme">

  <div class="header__logo">
    <a routerLink="/">
      <img src="assets/logo.png" alt="Logo">
    </a>
  </div>

  <button 
    class="header__burger" 
    (click)="toggleMenu()" 
    [class.is-active]="isMenuOpen"
    [ngClass]="'header__burger__simple--' + simple"
    aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div 
    class="header__backdrop" 
    [class.is-visible]="isMenuOpen" 
    (click)="closeMenu()">
  </div>

  <div class="header__menu" [ngClass]="'header__menu__simple--' + simple" [class.is-open]="isMenuOpen">
    
    <nav class="header__nav">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link" (click)="closeMenu()">Fonctionnement</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link" (click)="closeMenu()">Avantages</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link" (click)="closeMenu()">Témoignages</a>
        </li>
        <li class="header__nav-item">
          <a routerLink="/register" class="header__nav-link" (click)="closeMenu()">Inscriptions</a>
        </li>
        <li class="header__nav-item">
          <a href="#" class="header__nav-link" (click)="closeMenu()">FAQ</a>
        </li>
      </ul>
    </nav>

    <div class="header__actions">
      <app-button 
        variant="ghost" 
        routerLink="/login" 
        (click)="closeMenu()">
        Connexion
      </app-button>
      
      <app-button 
        variant="primary" 
        routerLink="/register" 
        (click)="closeMenu()">
        Inscription
      </app-button>
    </div>
  </div>

</header>