$SecondaryColor: #f97316;
$SecondaryColorHover: #ea580c;
$SecondaryColorActive: #c2410c;
$green: #4EE381;
$heroIntroBackground: #0b0c10;

$titleFontSize: clamp(1.5rem, 2vw, 2rem);
$biggerFontSize: clamp(0.85rem, 1.4vw, 1rem);
$regularFontSize: clamp(0.9rem, 1.3vw, 0.9rem);
$smallerFontSize: clamp(0.8rem, 1.2vw, 0.85rem);
$tinierFontSize: clamp(0.75rem, 1.1vw, 0.80rem);
