$SecondaryColor: #f97316;
$SecondaryColorHover: #ea580c;
$SecondaryColorActive: #c2410c;
$green: #4EE381;

$titleFontSize: clamp(1.25rem, 2vw, 2rem);
$biggerFontSize: clamp(0.75rem, 1.4vw, 1rem);
$regularFontSize: clamp(0.8rem, 1.3vw, 0.9rem);
$smallerFontSize: clamp(0.70rem, 1.2vw, 0.85rem);
$tinierFontSize: clamp(0.65rem, 1.1vw, 0.80rem);
