@import "variables";

.header-container {
  position: relative;
  width: 100vw;
  height: 90vh;
  overflow: hidden;
  background: $heroIntroBackground;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 12.5vh;
}

/* Triangle blanc incliné en haut à gauche (par-dessus le noir) */
.header-container::before {
  content: '';
  position: absolute;
  top: -80vh;
  left: -35vw;
  width: 130vw;
  height: 65vh;
  background: $backgroundColor;
  transform: rotate(-30deg);
  z-index: 1;
}

/* Contenu du header au-dessus de tout */
.header-title {
  color: white;
  margin: 0;
  font-size: 1.8rem;
  text-align: center;
}

.search-bar-container {
  position: relative;
}

.hero-intro-container {
  width:100vw;
  padding: 0 1rem;
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  z-index: 2;
}

/* White curve that hides the bottom of the girl image */
.header-white-curve {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 4;        // ABOVE the hero images
  pointer-events: none;
}

.header-white-curve path {
  fill: $backgroundColor;
}

@media (max-width: 1250px) {
  .header-container::before {
    top: -75vh;
  }
}

@media (max-width:850px) {
  .header-container::before {
    top: -60vh;
    left: -60vw;
    width: 130vw;
    height: 65vh;
    z-index: 1;
    transform: rotate(-35deg);
  }
  .hero-intro-container {
    flex-direction: row;
    margin-top: 5vh;
    justify-content: flex-start;
  }
  .header-container {
    height: 1000px;
    align-items: flex;
  }

  .header-white-curve {
    left: -50%;
    width: 200%;
  }

  .search-bar-container {
    position: absolute;
    top: 340px;
    margin-left:5.5vw;
  }

}

@media (max-width: 400px) {
  .header-container::before {
    top: -60vh;
    left: -60vw;
    width: 150vw;
    height: 65vh;
    z-index: 1;
    transform: rotate(-35deg);
  }
}