<div class="text-input" [class.text-input--full]="fullWidth" [class.text-input--disabled]="disabled">
  <label class="text-input__label" *ngIf="label">
    {{ label }}
  </label>

  <div class="text-input__wrapper" [class.text-input__wrapper--error]="error">
    
    <div *ngIf="iconLeft" class="icon">
      <img [src]="iconLeft" alt="icon" class="icon__img" />
    </div>

    <input
      class="text-input__field"
      [class.text-input__field--with-icon-left]="iconLeft"
      [type]="type"
      [placeholder]="placeholder"
      [ngModel]="value"
      (ngModelChange)="onInputChange($event)"
      (keydown)="onKeyDown($event)"
      [disabled]="disabled"
    />
  </div>

  <p class="text-input__error" *ngIf="error">
    {{ error }}
  </p>
</div>