@import "variables";

.small-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0;
  user-select: none;

  .small-icon__img {
    width: 55%;
    height: 55%;
    object-fit: contain;
    /* L'icône elle-même reste blanche sur le fond coloré */
    filter: brightness(0) invert(1);
  }
}