<div class="hero-intro-right">
  <app-notification
    [icon]="'assets/icons/calendar 1.svg'"
    [title]="'Des cours'"
    [subtitle]="'Tous les jours'"
    class="app-notification app-notification--calendar"
  ></app-notification>

  <app-notification
    [icon]="'assets/icons/email 2 1.svg'"
    [title]="'Bravo ! '"
    [subtitle]="'Vous êtes inscrit(e) !'"
    class="app-notification app-notification--email"
  ></app-notification>

  <app-notification
    [icon]="'assets/icons/people.svg'"
    [title]="'Des professeurs '"
    [subtitle]="'Passionnés et qualifiés dans toutes les matières !'"
    class="app-notification app-notification--people"
  ></app-notification>

  <app-small-icon
    [icon]="'assets/icons/correct-fill.svg'"
    [size]="20"
    class="app-notification __correct-icon"
  ></app-small-icon>

  <img
    class="bg-img"
    src="/assets/home/color_elypse.png"
    alt="bg ellipse"
  />

  <img
    class="fg-img"
    src="/assets/home/lovely-teenage-girl.png"
    alt="portrait femme"
  />
</div>
