@import "variables"; // si tu utilises un fichier global

.notification {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  /* fond blanc transparent */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;

  user-select: none;
  cursor: default;
  max-width: 250px;
}

.notification__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Titre en gris foncé */
.notification__title {
  font-size: $biggerFontSize;
  font-weight: 600;
  color: #333; // gris foncé
}

/* Sous-titre en gris un peu plus clair */
.notification__subtitle {
  margin-top: 0.15rem;
  font-size: $regularFontSize;
  font-weight: 400;
  color: #4a4a4a; // gris foncé mais plus léger
}
