@import "variables";

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $SecondaryColor; // Default background
  border-radius: 0.55rem;
  padding: 0;
  cursor: default;
  user-select: none;
  pointer-events: none;

  .icon__img {
    width: 55%;
    height: 55%;
    object-fit: contain;
    filter: brightness(0) invert(1);
  }

  // --- Inverted Mode ---
  &.icon--inverted {
    background-color: transparent; // Remove the square box
    border-radius: 0;

    .icon__mask {
      width: 100%;
      height: 100%;
      background-color: $colorVerified; // Colors the SVG itself
      mask-size: contain;
      mask-repeat: no-repeat;
      mask-position: center;
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
    }
  }
}