<div class="teacher-dashboard-wrapper">
  
  <div class="teacher-header-bg">
    <div class="header-content">
      
      <div class="identity-group">
        <div class="avatar-large">
          {{ user.firstName?.charAt(0) }}
        </div>
        <div class="text-info">
          <div class="teacher-header">
          <h1 class="teacher-name">{{ user.firstName }} {{ user.lastName }}</h1>
          <app-icon 
            *ngIf="user.verificationStatus === 3"
            [icon]="'assets/icons/verified-user.svg'" 
            [size]="35"
            class="verified-icon"
            title="Profil Vérifié"
            [invertColor]="true"
          >
          </app-icon>
        </div>
          <div class="badges-row">
            <span class="badge-role">Professeur</span>
            <span class="teacher-email">{{ user.email }}</span>
          </div>
        </div>
      </div>
      
      <div class="header-actions">
        <app-button variant="ghost" (click)="suspendAccount()">
          Suspendre
        </app-button>
        <app-button variant="primary">
          Éditer le profil
        </app-button>
      </div>

    </div>
  </div>

  <main class="dashboard-container">
    
    <section class="widgets-section">
      <div class="widgets-grid">
        
        <div class="widget-card accent-green">
          <div class="widget-top">
             <div class="icon-circle green">
               <app-small-icon icon="assets/icons/account-balance.svg" [size]="32"></app-small-icon>
             </div>
            <h3>Volume d'affaires</h3>
          </div>
          <div class="widget-content">
            <div class="main-info">
              <span class="big-number">{{ teacherStats.totalRevenueGenerated | number:'1.0-0' }} €</span>
            </div>
            <p class="subtext">Commissions: <strong class="text-green">{{ teacherStats.commissionGenerated | number:'1.0-0' }} €</strong></p>
          </div>
        </div>

        <div class="widget-card accent-blue">
          <div class="widget-top">
            <div class="icon-circle blue">
              <app-small-icon icon="assets/icons/user.svg" [size]="32"></app-small-icon>
            </div>
            <h3>Élèves suivis</h3>
          </div>
          <div class="widget-content">
            <div class="main-info">
              <span class="big-number">{{ teacherStats.studentCount }}</span>
            </div>
            <p class="subtext">Complétion: {{ teacherStats.completionRate }}%</p>
          </div>
        </div>

      </div>
    </section>

    <div class="content-split">
      
      <section class="details-card">
        <div class="card-header">
          <h2>📂 Documents</h2>
          <span class="badge-pending" *ngIf="documents[1].status === 'pending'">Action requise</span>
        </div>

        <div class="doc-list">
          <div class="doc-item" *ngFor="let doc of documents">
            <div class="doc-icon">
              <app-small-icon icon="assets/icons/download.svg" [size]="32"></app-small-icon>
            </div>
            <div class="doc-info">
              <span class="doc-name">{{ doc.name }}</span>
              <span class="doc-date">Reçu le {{ doc.date }}</span>
            </div>
            
            <div class="doc-status">
              <span class="status-pill valid" *ngIf="doc.status === 'valid'">Validé</span>
              <div class="actions-row" *ngIf="doc.status === 'pending'">
                <button class="btn-validate" (click)="validateDocument(doc.name)">Valider</button>
                <button class="btn-reject">Refuser</button>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="details-card">
        <div class="card-header">
          <h2>⏱️ Historique</h2>
        </div>
        
        <div class="activity-list">
          <div class="activity-item" *ngFor="let act of recentActivity">
            <div class="act-time">{{ act.date }}</div>
            <div class="act-content">
              <strong>{{ act.action }}</strong>
              <p>{{ act.detail }}</p>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <app-button variant="ghost" >Voir tout</app-button>
        </div>
      </section>

    </div>

    
    <app-teacher-reviews 
      *ngIf="user.id" 
      [teacherId]="user.id">
    </app-teacher-reviews>

    <div *ngIf="!user.id" class="loading-placeholder">
        <p>Chargement des avis...</p>
    </div>
  </main>
</div>